<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../../common/bootstrap.min3.3.7.css">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div class="container" id="box" v-cloak>
    <h1>{{msg}}</h1>
    <h2>循环：</h2>
    <ul class="list-group">
        <!--<li class="list-group-item" v-for="val in arr">{{val}}</li>-->
        <li class="list-group-item" v-for="val in arr">{{$index}} - {{val}}</li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item" v-for="val in json">{{$index}} - {{$key}} - {{val}}</li>
    </ul>

    <ul class="list-group">
        <li class="list-group-item" v-for="(key,val) in json">{{key}} - {{val}} --- {{$index}} - {{$key}}</li>
    </ul>
</div>
<script src="../../../common/vue1.0.28.js"></script>
<script>
    var vm = new Vue({
        el: '#box',
        data: {
            msg: 'First day to learn vuejs',
            arr: ['html', 'css', 'js', 'vue'],
            json: {a: 'html', b: 'css', c: 'js', d: 'vue'},
        }
    });
</script>
</body>
</html>